__pycache__/
*.pyc
secrets.txt
logs/
output/
old/
other/
photo-reactor/
reference_data/
temp_analysis/
*.env
LLM_prompts/
.vscode/settings.json
robot_state/robot_status.yaml
robot_state/track_status.yaml
test_analysis/
copilot_stuff/
